$white: #ffffff;
$black: #0A0A0A;
$red: #7D090A;
$light: #F3EEC8;
$light_alt: #FEF4E8;

$blue: #14445A;
$yellow: #EAD296;

$gray: #5A5A5A;
$gray_alt: #D2D2D2;

$colorResalte: $red;
$colorResalteAlt: $yellow;

$colorHeaderText: $light;
$colorHeaderTextAlt: $red;

$colorText: $light;
$colorTextAlt: $gray;

$colorHeroText: $colorHeaderText;
$colorHeroTextAlt: $colorHeaderText;

$colorTextMenuMobile: $light;
$colorTextMenuMobileAlt: $black;

$colorFooterText: $light;
$colorFooterTextAlt: $light_alt;
$colorFooterLinks: $light;
$colorFooterLinksAlt: $black;

$maxWidth: 1280px;

// Iphone 6/7/8
$breakOneWidth: 375px;
$breakOneHeight: 667px;

// Iphone 6/7/8 Plus
$breakTwoWidth: 414px;
$breakTwoHeight: 736px;

// Iphone X
$breakThreeWidth: 375px;
$breakThreeHeight: 812px;

// Ipad
// $breakFourWidth: 768px;
$breakFourWidth: 750px;
$breakFourHeight: 1024px;

// Ipad Pro
$breakFiveWidth: 1024px;
$breakFiveHeight: 1366px;

// Desktop Mini
$breakSixWidth: 1024px;
$breakSixHeight: 750px;
// $breakSixHeight: 768px;

// Desktop Big
$breakSevenWidth: 1280px;
$breakSevenHeight: 750px;
// $breakSevenHeight: 768px;