@import "normalize", "meyer", "basevalues";

.about {
    // background-color: #f8f8f8;
    padding: 50px 20px;
    text-align: center;

    h3, h4 {
        color: $colorText;
        font-size: 2em;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 1.5em;
    }

    ul li {
        color: $colorTextAlt;
    }

    p {
        color: $colorText;
        font-size: 1.2em;
        line-height: 1.6;
    }
}