@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

body {
    // font-family: 'Arial', sans-serif;
    font-family: 'Noto Sans JP', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================ HEADER ================== */

/* Add/Update these styles in your existing CSS file */

// .header {
//     display: flex;
//     position: relative;
//     justify-content: space-between;
//     align-items: center;
//     padding: 1rem;
// }

// .nav {
//     display: flex;
//     align-items: center;
// }

// ul {
//     list-style: none;
//     margin: 0;
//     padding: 0;
// }

// li {
//     margin-right: 1rem;
// }

// /* Styles for the burger menu icon */
// .burger-menu {
//     display: none;
//     flex-direction: column;
//     cursor: pointer;
// }

// .bar {
//     width: 25px;
//     height: 3px;
//     background-color: #333;
//     margin: 3px 0;
// }

// /* Media query for mobile */
// @media screen and (max-width: 768px) {
//     .burger-menu {
//         display: flex;
//     }

//     ul {
//         position: fixed;
//         top: 0;
//         right: 0;
//         height: 100%;
//         width: 80%;
//         background-color: #f8f8f8;
//         box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
//         transform: translateX(100%);
//         transition: transform 0.3s ease-in-out;
//     }

//     ul.show {
//         transform: translateX(0);
//     }

//     .nav ul.show li {
//         opacity: 1;
//         transform: translateX(0);
//         transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
//     }

//     li {
//         margin: 1rem 0;
//         opacity: 1;
//         transform: translateX(20px);
//     }
// }

/* ================ END OF HEADER ================== */

/* ================ HOME ================== */
.home {
    background-color: #f8f8f8;
    padding: 50px 20px;
    text-align: center;
}

.home-content {
    max-width: 800px;
    margin: 0 auto;
}

.home h1 {
    font-size: 2.5em;
    color: #333;
}

.home p {
    font-size: 1.2em;
    color: #666;
    margin-top: 20px;
}
/* ================ END OF HOME ================== */

/* ================ SELECTED PROJECTS ================== */
.projects {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.projects h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.projects-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-item {
    max-width: 300px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-item h3 {
    color: #333;
    margin-top: 10px;
}

.project-item p {
    color: #666;
}

.project-item a {
    display: block;
    margin-top: 10px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}
/* ================ END SELECTED PROJECTS ================== */

/* ================ FOOTER ================== */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    // position: fixed;
    // bottom: 0;
    width: 100%;
}
/* ================ END OF FOOTER ================== */