@import "normalize", "meyer", "basevalues";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    // font-family: 'Arial', sans-serif;
    font-family: 'Noto Sans JP', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    /* background: orange; */
    background: #0A0A0A;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #7D090A;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* border: 3px solid orange; */
    border: 3px solid transparent;
    /* creates padding around scroll thumb */
}

/* ================ HEADER ================== */

/* ================ END OF HEADER ================== */

/* ================ HOME ================== */

/* ================ END OF HOME ================== */

/* ================ SELECTED PROJECTS ================== */

/* ================ END SELECTED PROJECTS ================== */

/* ================ FOOTER ================== */

/* ================ END OF FOOTER ================== */