@import "normalize", "meyer", "basevalues";
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;0,900;1,200;1,400;1,600;1,800;1,900&display=swap');

body {
    // font-family: 'Arial', sans-serif;
    font-family: "Poppins", sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    /* background: orange; */
    background: #0A0A0A;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #7D090A;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* border: 3px solid orange; */
    border: 3px solid transparent;
    /* creates padding around scroll thumb */
}

/* ================ TITLE & SUBTITLES ================== */
.title {
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 2.3em;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    color: $colorText;
}

.subtitle {
    display: block;
    width: 85%;
    max-width: 490px;
    margin: 0 auto;
    // padding: 0 0 1.5em;
    padding: 1em 0 0;

    font-size: 1em;
    line-height: 1.2em;
    text-align: justify;
    text-indent: 3%;
    color: $colorTextAlt;
}

@media (min-width: 768px) {
    .title {
        font-size: 4em;
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 5.5em;
    }
}

/* ================ END OF TITLE & SUBTITLES ================== */

/* ================ BUTTON ================== */

.btn-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 48px;
    position: relative;
    margin: 80px auto;
    padding: 0px 0px 0px 14px;
    // padding: 6px 0px;
    // padding: 12px 50px;
    transition: all .2s ease;
    text-decoration: none;
    color: $colorText;
    background: rgba($colorResalte, .5);
    border: 2px solid $colorText;
    // border-radius: 10px;
    border-radius: 50px;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        // border-radius: 8px;
        border-radius: 50px;
        // background: rgba($colorResalte, .5);
        background: rgba($colorResalte, 1);
        width: 100%;
        // width: 78px;
        height: 48px;
        transition: all .3s ease;
    }

    .container-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    span {
        position: relative;
        font-size: 16px;
        line-height: 18px;
        // font-weight: 900;
        font-weight: 400;
        // text-transform: uppercase;
        vertical-align: middle;
    }

    svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: $colorText;
        stroke-width: 2;
        // transform: translateX(-5px) rotate(0deg);
        transform: translateX(0) rotate(45deg);
        transition: all .3s ease;
    }

    &:hover {
        &:before {
            // width: 100%;
            // width: 58px;
            width: 0px;
            // background: rgba($colorResalte, 1);
            background: rgba($colorResalte, .5);
        }

        svg {
            transform: translateX(-5px) rotate(0deg);
            // transform: translateX(0) rotate(45deg);
        }
    }

    // &:active {
    //     transform: scale(.96);
    // }
}

@media (min-width: 768px) {
    .btn-item {
    }
}

/* ================ END BUTTON ================== */

/* ================ X ================== */

/* ================ END X ================== */