@import "normalize", "meyer", "basevalues";

.head-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 95%;
    max-width: $maxWidth;

    padding: 0.5em 0;

    // position: absolute;
    // top: 0;
    // left: 50%;
    // transform: translate(-50%, 0%);

    margin: 0 auto;
    z-index: 30;

    .logo-home {
        z-index: 40;

        img {
            display: block;
            width: 50px;
            height: auto;
        }
    }

    .menus-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    // Menu Mobile
    .menu-btn {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 60px;
        height: 60px;

        transform: scale(0.7);
        border-radius: 100%;
        cursor: pointer;
        transition: all .5s ease-in-out;
        // border: 3px solid $white;
        z-index: 100;

        background: $colorResalte;

        .menu-btn-burguer {
            width: 40px;
            height: 4px;
            margin: 0 auto;

            background: $white;
            border-radius: 5px;
            transition: all .5s ease-in-out;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 25px;
                height: 4px;
                background: $white;
                border-radius: 5px;
                transition: all .5s ease-in-out;
            }

            &::before {
                transform: translateX(0px) translateY(-10px);
            }

            &::after {
                transform: translateX(20px) translateY(10px);
            }
        }
    }

    // Animation of Menu
    .menu-btn.open .menu-btn-burguer {
        transform: translateX(-45px);
        background: transparent;

        &::before {
            width: 30px;
            background: $black;
            transform: rotate(45deg) translate(35.5px, -35.5px);
        }

        &::after {
            width: 30px;
            background: $black;
            transform: rotate(-45deg) translate(35.5px, 35.5px);
        }
    }
}

.menu-options {
    display: block;
    width: 100%;
    height: 100vh;

    background: $colorResalteAlt;

    transition: .5s;

    position: absolute;
    top: 0;
    left: -110%;
    transform: translate(0, 0);
    z-index: 20;

    .links-container {
        display: flex;
        flex-direction: column;
        // align-items: center;

        width: 95%;
        max-width: 1280px;
        padding: 3em 0 0;

        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);

        opacity: 0;
        transition: .6s ease-in-out;

        .link-menu {
            font-size: 3em;
            font-weight: 900;

            margin: 0.6em 0;
            color: $colorText;
            list-style-type: none;

            transition: .25s ease-in-out;
            
            a {
                color: $colorText;
                text-decoration: none;
                
                &:hover {
                    color: $colorTextAlt;
                    transition: .1s ease-in-out;
                }
            }
        }

        // .selected {
        //     color: $colorText;
        //     border-bottom: 4px solid $white;
        //     transition: .25s ease-in-out;
        // }

        // .l-m-m-active {
        //     color: $colorText;
        // }
    }

    .menu-footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 90%;
        max-width: 1280px;

        position: absolute;
        transform: translate(-50%, 0%);
        bottom: 0;
        left: 50%;

        .menu-footer-container-links {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        p,
        a {
            display: block;
            width: 100%;

            font-size: 1em;
            font-weight: 400;
            color: $colorText;

            margin: 0.4em auto;
        }

        p {
            margin: 1em auto;
        }

        a {
            text-decoration: underline;
            text-align: left;
        }
    }
}

.menu-mobile-open {
    left: 0%;

    .links-container {
        // top: 50%;
        opacity: 1;
        transition: .6s ease-in-out;
    }
}

.menu-options-desktop {
    display: none;
}

@media (min-width: 768px) {
    .head-container .menus-container {
        display: none;
    }

    .menu-options-desktop {
        display: block;
        
        .links-container {
            display: flex;
            flex-direction: row;

            list-style-type: none;
            
            li {
                padding: 0 0.8em;
                a {
                    color: $colorTextAlt;
                    text-decoration: none;

                    &:hover {
                        color: $colorResalte
                    }
                }
            }
        }
    }
}

