@import "normalize", "meyer", "basevalues";

.hero-home {
    background-color: $black;
    padding: 50px 20px;
    text-align: center;
}

.hero-home-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero-home h1 {
    font-size: 2.5em;
    color: #333;
}

.hero-home p {
    font-size: 1.2em;
    color: #666;
    margin-top: 20px;
}