@import "normalize", "meyer", "basevalues";

.project-container {
    color: red;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $maxWidth;

    .project-header {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 auto;

        .title-project {
            width: 100%;
            font-size: 2em;
            color: $colorText;
            text-align: left;
        }

        .description-project {
            width: 100%;
            font-size: 1em;
            line-height: 1.2em;
            padding: 0.5em 0;
            color: $colorTextAlt;
            font-weight: 100;
            text-align: left;
        }

        .section-project {
            width: 100%;
            padding: 0 0 0.5em;

            h5, p {
                text-align: left;
            }

            h5 {
                padding: 0 0 0.25em;
                color: $colorTextAltGray;
                font-weight: 400;
            }

            p {
                font-size: 1em;
                line-height: 1.2em;
                color: $colorText;
                font-weight: 400;
            }
        }
    }

    .cover-image-pro {
        width: 100%;
    }
    
    .project-main {
        width: 100%;
        padding-bottom: 4em;
        
        .single-image {
            width: 100%;
            margin: 0 auto;
        }

        .multi-pic-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .multi-image {
                width: 100%;
                margin: 0 auto 0.5em;
            }
        }
        
        .paragraphs-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 1em 0;

            .regular-p, .single-p{
                width: 95%;
                margin: 0 auto;
                padding: 0.5em 0;
    
                font-size: 1em;
                line-height: 1.2em;
                font-weight: 100;
                text-align: left;
                color: $colorTextAlt;
            }
        }

        .slick-slider {
            width: 85%;
            margin: 0 auto;
        }
    }
}

@media (min-width: 768px) {
    .project-container {
        width: 90%;
        margin: 0 auto;

        .project-header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            padding: 0 0 1em;

            .section-project {
                width: 30%;
            }
        }

        .project-main {

            .single-image {
                margin: 1em auto;
            }

            .multi-pic-block {
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;

                .multi-image {
                    width: 49%;
                    margin: 0 auto 1%;
                }
            }

            .paragraphs-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;

                .regular-p{
                    width: 45%;
                }
                
                .single-p {
                    width: 95%;
                }
            }

            .slick-slider {
                width: 100%;
                margin: 0 auto;
            }

            .slick-dots {
                bottom: -50px;

                li {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

// ==============================================

.slick-dots li button:before {
    color: $colorResalte !important;
}