@import "normalize", "meyer", "basevalues";

.project-container {
    color: red;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $maxWidth;

    .project-header {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 auto;

        .title-project {
            width: 100%;
            font-size: 2em;
            color: $colorText;
            text-align: left;
        }

        .description-project {
            width: 100%;
            font-size: 1em;
            line-height: 1.2em;
            padding: 0.5em 0;
            color: $colorTextAlt;
            font-weight: 100;
            text-align: left;
        }

        .section-project {
            width: 100%;
            padding: 0 0 0.5em;

            h5, p {
                text-align: left;
            }

            h5 {
                padding: 0 0 0.25em;
                color: $colorTextAltGray;
                font-weight: 400;
            }

            p {
                font-size: 1em;
                line-height: 1.2em;
                color: $colorText;
                font-weight: 400;
            }
        }
    }

    .cover-image-pro {
        width: 100%;
    }

    .project-main {
        width: 100%;

        p {
            width: 95%;
            margin: 0 auto;
            padding: 1em 0;

            font-size: 1em;
            line-height: 1.2em;
            font-weight: 100;
            text-align: left;
            color: $colorTextAlt;
        }
    }
}

@media (min-width: 768px) {
    .project-container {
        width: 90%;
        margin: 0 auto;

        .project-header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            padding: 0 0 1em;

            .section-project {
                width: 30%;
            }
        }
    }
}

// SLIDER FLICKITY ====================

/* external css: flickity.css */
.carousel {
    width: 100%;
    // background: #EEE;
    position: relative;
    overflow: hidden;

    button {
        background: rgba(255, 255, 255, 0.15);
        width: 30px;
        height: 30px;
        margin: 10px 10px;
        border-radius: 20px;

        svg {
            width: 20px;
            height: 20px;
            margin: 0 auto;
        }
    }
    
    &:focus {
        outline: 0
    }

    div img {
        aspect-ratio: 16/9;
    }
}

.gallery-cell {
    width: 66%;
    // height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}
// SLIDER ====================

.slider-container {
    display: flex;
    width: 100%;
    // height: 100vh;
    height: auto;
    overflow-x: scroll;
    /* Vamos a añadir esto 👇 */
    scroll-snap-type: x mandatory;
}

.slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;

    /* Vamos a añadir esto 👇 */
    scroll-snap-align: center;
}

.slider-container::-webkit-scrollbar {
    width: 4px;
    /* width of the entire scrollbar */
}

.slider-container::-webkit-scrollbar-track {
    /* background: orange; */
    background: #0A0A0A;
    /* color of the tracking area */
}

.slider-container::-webkit-scrollbar-thumb {
    background-color: #7D090A;
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    /* border: 3px solid orange; */
    border: 2px solid transparent;
    /* creates padding around scroll thumb */
}

// ==============================================

