@import "normalize", "meyer", "basevalues";

.selected-projects {
    padding: 2em 0;

    .selected-projects-title {
        display: block;
        width: 100%;
        // max-width: 490px;
        margin: 0 auto;

        font-size: 2.3em;
        // font-family: "Oswald", sans-serif;
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: center;
        color: $colorText;
    }

    .selected-projects-subtitle {
        display: block;
        width: 85%;
        max-width: 490px;
        margin: 0 auto;
        // padding: 0 0 1.5em;
        padding: 1em 0 0;

        font-size: 1em;
        line-height: 1.2em;
        text-align: center;
        text-indent: 3%;
        color: $colorTextAlt;
    }

    .btn-view-allpro {
        display: block;
        width: 170px;
        margin: 80px auto;
        padding: 0.6em 0;

        color: $light;
        border: 2px solid $light;
        border-radius: 8px;
        text-decoration: none;

        p {
            font-size: 1em;
        }
    }
}

.selected-projects-list {
    display: block;
    width: 100%;
    max-width: $maxWidth;

    .selected-project-item {
        display: block;
        width: 100%;
        margin: 30px 0 0;
        // padding: 10px;

        position: relative;
        // box-shadow: 0 0 10px rgba($light, 0.1);
        border-radius: 4px;
        overflow: hidden;
        
        img {
            max-width: 100%;
            height: auto;
            // border-radius: 10px;
        }

        a {
            display: block;
            // margin-top: 10px;
            // color: #3498db;
            text-decoration: none;
            font-weight: 600;
        }

        .project-side-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

            padding: 1em 0;
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, 0%);
            background: linear-gradient(rgba($black, 0), $black);

            h3, p, h5 {
                display: block;
                width: 90%;
                margin: 0 auto;
                text-align: left;
            }

            h3, p {
                text-shadow: 0 0 6px $black;
            }

            h3 {
                // font-family: "Oswald", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                font-size: 1.6em;
                color: $colorText;
            }
        
            p {
                display: none;
                font-size: 0.9em;
                font-weight: 300;
                line-height: 1.3em;
                padding: 1em 0 0;
                color: $colorTextAlt;
            }

            h5 {
                width: fit-content;
                // margin: 1em auto 0;
                margin: 1em 5% 0;
                padding: 1em 1em;
                border-radius: 100px;

                font-size: 0.7em;
                color: $colorTextAlt;

                background: rgba($gray, 0.5);
            }
        }
    }
}

@media (orientatioselected-n: landscape) {
    .projects-list {
        .selected-project-item {
            width: 65%;
        }
    }
}

@media (min-width: 768px) {
    .selected-projects {
        .selected-projects-title {
            font-size: 6em;
            padding: 0.3em 0 0.2em;
        }
        .btn-view-allpro {
            margin: 100px auto;            
        }
    }
    .selected-projects-list {
        max-width: 1024px;
        margin: 0 auto;
        
        .selected-project-item {
            width: 100%;

            border-radius: 20px;
            overflow: hidden;

            img {
                // border-radius: 20px;
                transition: .3s;
            }

            .project-side-container {
                padding: 1em 0 2em;
                h3 {
                    font-size: 4em;
                    transition: .3s;
                }
                p {
                    display: block;
                    font-size: 1.2em;
                    line-height: 1.5em;
                    transition: .3s;
                }
                h5 {
                    font-size: .9em;
                    transition: .3s;
                }
            }

            &:hover {
                img {
                    opacity: .5;
                }

                .project-side-container {
                    h3 {
                        font-size: 4.5em;
                    }
                    p {
                        font-size: 1.4em;
                        line-height: 1.6em;
                    }
                    h5 {
                        // font-size: 1.2em;
                    }
                }
            }
        }
    }
}