@import "normalize", "meyer", "basevalues";

.selected-projects {
    padding: 2em 0;
    .projects-title {
        display: block;
        width: 85%;
        margin: 0 auto;
        padding: 0 0 1.5em;

        font-size: 1.2em;
        text-align: center;
        text-indent: 3%;
        color: $colorText;
    }

    .btn-view-allpro {
        display: block;
        width: 170px;
        margin: 0 auto;
        padding: 0.6em 0;

        color: $light;
        border: 2px solid $light;
        border-radius: 8px;
        text-decoration: none;

        p {
            font-size: 1em;
        }
    }
}

.projects-list {
    display: block;
    width: 100%;

    .selected-project-item {
        display: block;
        width: 100%;
        margin: 30px 0 0;
        // padding: 10px;
        box-shadow: 0 0 10px rgba($light, 0.1);
        
        img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }

        a {
            display: block;
            // margin-top: 10px;
            // color: #3498db;
            text-decoration: none;
            font-weight: bold;
        }

        .project-side-container {
            display: block;
            width: 100%;

            padding: 1em 0;

            h3 {
                font-size: 1.3em;
                color: $colorText;
            }
        
            p {
                padding: 1em 0 0;
                color: #666;
            }
        }
    }
}

@media (orientation: landscape) {
    .projects-list {
        .selected-project-item {
            width: 65%;
        }
    }
}

@media (min-width: 768px) {
    .projects-list {
        .selected-project-item {
            position: relative;
            width: 100%;
            max-width: 1280px;

            overflow: hidden;
            
            .project-side-container {
                display: block;
                width: 50%;
                height: 101%;
                padding: 0;
                
                background: rgba($colorResalte, .8);

                position: absolute;
                top: 50%;
                left: 0%;
                transform: translate(0%, -50%);
            }
        }
    }
}