/* Projects.css */
.projects {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.projects h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.projects-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-item {
    max-width: 300px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-item h3 {
    color: #333;
    margin-top: 10px;
}

.project-item p {
    color: #666;
}

.project-item a {
    display: block;
    margin-top: 10px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}